.widget-fileuploader {
  border: 1px solid #0094c8;
  border-radius: 10px;
  background: #0094c8;
}

.widget-fileuploader:hover {
  border: 1px solid #1d5f90;
  background: #1d5f90;
}

.widget-fileuploader-transparent {
  background: transparent !important;
}

.widget-fileuploader .widget-fileuploader-div {
  width: 100%;
  height: 100%;
  text-align: center;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.widget-fileuploader .widget-fileuploader-div .widget-fileuploader-span {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10%;
  right: 10%;
  margin: 0px;
  font-family: sans-serif;
  color: white;
  font-size: 14px;
  font-weight: 600;
}