.widget-imageloader {
  border: 1px solid black;
  border-radius: 10px;
}

.widget-imageloader .widget-imageloader-div {
  width: 100%;
  height: 100%;
  text-align: center;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.widget-imageloader .widget-imageloader-div .widget-imageloader-span {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10%;
  right: 10%;
  margin: 0px;
}